<div class="container">
  <div class="product-feature">
    <div class="product-body">
      <h2>The Magic of Personalization</h2>
      <div class="product-list">
        <div class="product-desc-left slideInLeft">
          <h6>Send Personalized Videos</h6>
          <h2>Increase Response<br />Rates up to 300%</h2>
          <p>
            Can you believe that, <span class="fade-violet">“Name”</span> ? It’s 300% and we bet
            you’ll get that by personalizing a single video with texts, logos,
            thumbnails and more to deliver a personalized experience to
            thousands of recipients.
          </p>
        </div>
        <div class="slideInRight">
          <img src="./../../assets/video-thumbnail.png" />
        </div>
      </div>
      <div class="product-list">
        <div class="slideInLeft">
          <img src="./../../assets/vector-smart.png" />
        </div>
        <div class="product-desc-right slideInRight">
          <h6>Advanced Real-time Tracking</h6>
          <h2>Track Your Campaigns<br />and Conversions</h2>
          <p>
            Track a single email or many at a time and see how your video emails
            are performing; click rates, open rates, watch rate, watch duration
            and more. Yes, we want you to have it all.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
