@import "./../../styles/_varibles";

.copy-right{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $btn-color;
  font-size: 10px;
  height: 43px;
  background-color: $light-black;
  @media (max-width: 767px) {
    height: 30px;
  }
}