<div class="about-product">
  <div class="container">
    <div class="about-body">
      <div class="about-content">
        <h6>Personalized Email Campaigns</h6>
        <h1>Hey <span>“Walter White”</span> From Product Hunt</h1>
        <p>Don’t Just Sell. Truly Connect With Your Prospects by<br>Sending Personalized Videos</p>
        <div class="input-email tada">
          <input type="text" id="inputName" placeholder="Type your Name and get ready to be surprised">
          <button type="submit">PERSONALIZE</button>
        </div>
      </div>
      <div class="about-img">
        <img src="./../../assets/product.png">
      </div>
    </div>
  </div>
</div>
