<div>
  <header id="header" [class.headerShadow]="showShadow">
    <app-top-bar></app-top-bar>
    <app-top-nav></app-top-nav>
  </header>
  <section>
    <app-about-product></app-about-product>
    <app-clients></app-clients>
    <app-refer-benifit></app-refer-benifit>
    <app-enterprise></app-enterprise>
    <app-product-features></app-product-features>
    <app-engage-lead></app-engage-lead>
    <app-testimonials></app-testimonials>
    <app-pricing-offer></app-pricing-offer>
    <app-act-on></app-act-on>
    <app-copy-right></app-copy-right>
  </section>
</div>