<div class="container">
  <div class="testimonial">
    <h6>Testimonials</h6>
    <h2>
      “Name”, We Are Loved By<br />
      Our Customers!
    </h2>
    <div>
      <div class="carousel-body">
        <div class="ceo-img">
          <img src="./../../assets/ceo.png" class="ceo-bg"/>
          <img src="./../../assets/quote-down.png" class="quote-left">
        </div>
        <div class="ceo-content">
          <img src="./../../assets/quote-up.png" class="quote-right">
          <div class="description">
            <p>
              “ I’m absolutely thrilled at the potential that Hippo Video has
              for us.Hippo Video is helping us serve our customers better, in
              return our customers are seeing the value. Great work! ”
            </p>
            <h6>Brian, CEO,</h6>
            <div class="address">The Goulet Pen Company</div>
            <span>&nbsp;</span>
          </div>
        </div>
        <div class="arrow-left">
          <i class="material-icons">chevron_left</i>
        </div>
        <div class="arrow-right">
          <i class="material-icons">chevron_right</i>
        </div>
      </div>
    </div>
  </div>
</div>
